/* Theme */
.checkbox {
    opacity: 0;
    position: absolute;
}
.lightShape {
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.2),
        rgba(0, 0, 0, 0.2)
    ) !important;
    transition: 0.3s;
}
.darkShape {
    background-image: linear-gradient(#121212, #121212) !important;
    color: #999 !important;
}
.dark {
    background-image: linear-gradient(180deg, #121212, #262626);
    color: #fff;
}
.light {
    background-image: linear-gradient(180deg, #fff, #ddd);
    color: #444;
}

.lightIcon {
    background-color: transparent;
    color: #444;
}
.darkIcon {
    background-color: transparent;
    color: #fff;
}
.mobile-nav {
    display: none;
    width: 25px;
    height: 25px;
    cursor: pointer;
}
